* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(231, 231, 141);
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.container, .message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.container {
    height: 70vh;
    margin-top: 5vmin;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem rgb(99, 95, 95);
    border: none;
    font-size: 8vmin;
    background-color: azure;
    color: black;
}

#reset-btn, #new-btn {
    padding: 1rem;
    font-size: 1rem;
    background-color: #081b31;
    color: white;
    border-radius: 1rem;
    border: none;
}

.msg {
    font-size: 8vmin;
    color: rgb(3, 31, 56);
    font-weight: bold;
}

.message-container {
    height: 100vh;
}

.hide {
    display: none;
}
